body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

html, body, #root, .todoApp {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Fredoka One', cursive;
}

html, body {
    overscroll-behavior-y: none;
    position: fixed;
    overflow: hidden;
}

h1 {
    font-size: 5.5vh;
    text-align: center;
    text-transform: uppercase;
    padding: 2.1vh;
    margin: 0;
}

input {
    width: 90%;
    font-family: 'Fredoka One', cursive;
    border: none;
    font-size: medium;
}

input:focus {
    outline: none;
}

.userInput {
    display: block;
    font-family: 'Fredoka One', cursive;
    width: 98%;
    margin: auto;
    border: none;
    border-bottom: 1.5px solid rgb(190, 190, 190);
    font-size: medium;
}

.userInput:focus {
    outline: none;
}

.container {
    overflow: auto;
    height: 80%;
    width: 80%;
    margin: auto;
    border: 1.5px solid gray;
    border-radius: 6px;
}

.todo {
    position: relative;
    padding: 15px 15px 10px 10px;
    border-bottom: 1.5px solid rgb(190, 190, 190);
}

.center {
    text-align: center;
    padding: 3vh;
    border: none;
}

.form {
    width: 80vw;
    margin: auto;
    margin-top: 1vh;
}

.deleteBtn {
    position: absolute;
    right: 2%;
    font-size: x-large;
    cursor: pointer;
}

.dragBtn {
    display: inline-block;
    height: .8em;
    width: .8em;
    background-color: rgb(190, 190, 190);
    border-radius: 50%;
    cursor: pointer;
}

.dos {
    margin-left: 1vw;
}

.fade {
    opacity: 0;
    transition: .5s;
}

.todoContent {
    display: inline-block;
    padding-left: 2%;
    margin: 0;
    width: 90%;
}

.todoContainer {
    display: flex;
    /* this vertically aligns children elements */
    align-items: center;
    margin-bottom: 2%;
    margin-top: 1%;
}

.subTodoContainer {
    display: flex;
    /* this vertically aligns children elements */
    align-items: center;
}

.subTodoList {
    position: relative;
    width: 97%;
    left: 2%;
    margin-right: 0;
}
.subTodo {
    position: relative;
    left: 1%;
    border-bottom: 2px solid rgb(197, 197, 197);
}

.subTodo .deleteBtn {
    color: gray;
}

.subTodo .dos {
    color: rgb(51, 51, 51);
}

.darkMode {
    background-color: rgb(51, 51, 51);
    color: gray;
}

#themeBtn {
    cursor: pointer;
    position: absolute;
    right: 2vw;
    top: 5vh;
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
}

.overlayContainer {
    /* to get overlay to display above element with opacity lower than 1 */
    z-index: 1;
    position: relative;
}

.overlayContainer > div{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(32, 32, 32, 0.5);
}

div.overlay {
    height: 80%;
    width: 60%;
    background-color: #f8f8f8;
    margin: 10vh 20vw;
    border-radius: 15px;
    position: relative;
}
  
.closeBtn {
    cursor: pointer;
    font-size: 2em;
    text-align: center;
}

input[type='submit'] {
    position: absolute;
    display: block;
    width: 100%;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.1em;
    bottom: 1%;
}

textarea {
    font-family: 'Fredoka One', cursive;
    resize: none;
    background-color: transparent;
    padding: 0;
    margin: 1%;
    border: 0;
    width: 100%;
    font-size: large;
}

textarea:focus {
    outline-width: 0;
}